<ion-header>
  <ion-toolbar>
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
  <ion-slide>
    <h1>Mexilhões com batata frita</h1>
    <ion-img src="../assets/img/Moules-Frites_iStock.jpg"></ion-img>
  </ion-slide>

  <ion-slide>
    <h1>Stoemp (bacalhau com purê de batatas)</h1>
    <ion-img src="../assets/img/stoemp.jpg"></ion-img>
  </ion-slide>

  <ion-slide>
    <h1>Rijsttaart (Torta de arroz)</h1>
    <ion-img src="../assets/img/torta de arroz.jpg"></ion-img>
  </ion-slide>

  <ion-slide>
      <h1>Tomates aux crevettes (tomate com camarão)</h1>
      <ion-img src="../assets/img/tomate.jpg"></ion-img>
  </ion-slide>

  <ion-slide>
      <h1>Steak tartare</h1>
      <ion-img src="../assets/img/steak.jpg"></ion-img>
  </ion-slide>
</ion-slides>

  <ion-button expand="full" href="home" color="danger">Voltar</ion-button>

</ion-content>
